@model ControleDeEstoque.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Fornecedor";
}

<h2>Informações do fornecedor</h2>

<div>
    <hr />
    <form class="form-horizontal">
        <div class="row">

            <div class="col-lg-4">
                @Html.LabelFor(model => model.Nome)
                <span class="form-control">@Html.DisplayFor(model => model.Nome)</span>
            </div>

            <div class="col-lg-8">
                @Html.LabelFor(model => model.Sobrenome)
                <span class="form-control">@Html.DisplayFor(model => model.Sobrenome)</span>
            </div>

            <div class="col-lg-6">
                @Html.LabelFor(model => model.RazaoSocial)
                <span class="form-control">@Html.DisplayFor(model => model.RazaoSocial)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Cnpj)
                <span class="form-control">@Html.DisplayFor(model => model.Cnpj)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.CEP)
                <span class="form-control">@Html.DisplayFor(model => model.CEP)</span>
            </div>

            <div class="col-lg-7">
                @Html.LabelFor(model => model.Endereco)
                <span class="form-control">@Html.DisplayFor(model => model.Endereco)</span>
            </div>

            <div class="col-lg-5">
                @Html.LabelFor(model => model.Bairro)
                <span class="form-control">@Html.DisplayFor(model => model.Bairro)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Fone)
                <span class="form-control">@Html.DisplayFor(model => model.Fone)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Celular)
                <span class="form-control">@Html.DisplayFor(model => model.Celular)</span>
            </div>

            <div class="col-lg-6">
                @Html.LabelFor(model => model.Email)
                <span class="form-control">@Html.DisplayFor(model => model.Email)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.EndNumero)
                <span class="form-control">@Html.DisplayFor(model => model.EndNumero)</span>
            </div>

            <div class="col-lg-2">
                @Html.LabelFor(model => model.Estado)
                <span class="form-control">@Html.DisplayFor(model => model.Estado)</span>
            </div>

            <div class="col-lg-7">
                @Html.LabelFor(model => model.Cidade)
                <span class="form-control">@Html.DisplayFor(model => model.Cidade)</span>
            </div>
        </div>
    </form>
    <br />
    <div class="col-md-12 form-group">
        @Html.ActionLink("Voltar", "Index") |
        @Html.ActionLink("Editar", "Edit", new { id = Model.FornecedorId })
    </div>
</div>

