@model ControleDeEstoque.ViewModels.ProdutoViewModel


<div>
    <h4>Excluir produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeMedidaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeMedida.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoria.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
