@model ControleDeEstoque.ViewModels.CompraViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompraViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroParcela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroParcela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FornecedorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FornecedorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPagamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPagamentoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
