@model IEnumerable<ControleDeEstoque.ViewModels.CompraViewModel>

@{
    ViewBag.Title = "Compras";
}

<h2>Compras</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotaFiscal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCompra)
        </th>
        <th>
            @Html.DisplayName("Nº Parcelas")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayName("Fornecedor")
        </th>
        <th>
            @Html.DisplayName("Forma Pagamento")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NotaFiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroParcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPagamento.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CompraId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CompraId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.CompraId })
        </td>
    </tr>
}

</table>
