@model ControleDeEstoque.ViewModels.VendaViewModel

@{
    ViewBag.Title = "Venda";
}

<h2>Excluir venda</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroParcelas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroParcelas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPagamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPagamento.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
