@model ControleDeEstoque.ViewModels.ItensVendaViewModel
@{
    ViewBag.Title = "Venda";
}
<div>
    <h2>Notal Fiscal</h2>
    <hr />
    <fieldset>
        <legend>Dados Empresa</legend>
        <div class="row">
            <div class="col-lg-6">
                @Html.LabelFor(model => model.Venda.Empresa.Nome)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Nome)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Empresa.cnpj)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.cnpj)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Empresa.NaturezaJuridica)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.NaturezaJuridica)</span>
            </div>

            <div class="col-lg-6">
                @Html.LabelFor(model => model.Venda.Empresa.Email)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Email)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Empresa.Celular)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Celular)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Empresa.Fone)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Fone)</span>
            </div>

            <div class="col-lg-5">
                @Html.LabelFor(model => model.Venda.Empresa.Endereco)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Endereco)</span>
            </div>

            <div class="col-lg-2">
                @Html.LabelFor(model => model.Venda.Empresa.EndNumero)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.EndNumero)</span>
            </div>

            <div class="col-lg-5">
                @Html.LabelFor(model => model.Venda.Empresa.Bairro)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Bairro)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Empresa.CEP)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.CEP)</span>
            </div>

            <div class="col-lg-6">
                @Html.LabelFor(model => model.Venda.Empresa.Cidade)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Cidade)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Empresa.Estado)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Empresa.Estado)</span>
            </div>
        </div>
    </fieldset>
    <br />

    <fieldset>
        <legend>Dados Comprador</legend>
        <div class="row">
            <div class="col-lg-4">
                @Html.LabelFor(model => model.Venda.Cliente.Nome)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Cliente.Nome)</span>
            </div>

            <div class="col-lg-8">
                @Html.LabelFor(model => model.Venda.Cliente.Sobrenome)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Cliente.Sobrenome)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Cliente.cpfcnpj)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Cliente.cpfcnpj)</span>
            </div>

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.Cliente.Celular)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Cliente.Celular)</span>
            </div>

            <div class="col-lg-6">
                @Html.LabelFor(model => model.Venda.Cliente.Email)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.Cliente.Email)</span>
            </div>
        </div>
    </fieldset>
    <br />

    <fieldset class="form-horizontal">
        <legend>Dados da Venda</legend>
        <div class="row">

            <div class="col-lg-3">
                @Html.LabelFor(model => model.Venda.NotaFiscal)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.NotaFiscal)</span>
            </div>

            <div class="col-lg-9">
                @Html.LabelFor(model => model.Produto)
                <span class="form-control">@Html.DisplayFor(model => model.Produto.Nome)</span>
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.Valor)
                <span class="form-control">@Html.DisplayFor(model => model.Valor)</span>
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.Qtde)
                <span class="form-control">@Html.DisplayFor(model => model.Qtde)</span>
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.Venda.TotalVenda)
                <span class="form-control">@Html.DisplayFor(model => model.Venda.TotalVenda)</span>
            </div>
        </div>
    </fieldset>
</div>
<br />
<div class="col-md-12 form-group">
    @Html.ActionLink("Voltar", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.VendaId })
</div>
