@model IEnumerable<ControleDeEstoque.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.cpfcnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rgie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Fone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>            
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.cpfcnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rgie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Fone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ClienteId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>
