@model IEnumerable<ControleDeEstoque.ViewModels.EmpresaViewModel>

@{
    ViewBag.Title = "Empresa";
}

<h2>Empresa</h2>


<p>
    <button onclick="window.location.replace('@Url.Action("Create")')" class="btn btn-success">Novo</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EmpresaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EmpresaId })
@Html.ActionLink("Delete", "Delete", new { id=item.EmpresaId })
</td>
    </tr>
}
</table>
